*{
  margin: 0%;
}

html{
  background-color:rgb(223, 211, 211);
}

.heading{
  margin-left: 4%;
  color: white;
}

.App{
  width: auto;
  height: 6rem;
  background-color: blue;
}

.contectOne{
  height: 30rem;
  width: 30rem;
  background-color: blueviolet;
  color: white;
  margin-left: 36%;
  margin-top: 8rem;
  border-radius: 1rem;
}
.HomeOne{

  height: 30rem;
  width: 30rem;
  background-color:crimson;
  color: white;
  margin-left: 36%;
  margin-top: 8rem;
  border-radius: 1rem;
}

.projectOne{
  height: 30rem;
  width: 30rem;
  background-color:cyan;
  color: black;
  margin-left: 36%;
  margin-top: 8rem;
  border-radius: 1rem;
}

.All{
  margin-left: 58%;
}

.LinkApp{
  margin-left: 8rem;
  margin-top: 2rem;
  color: white;
}

.LinkApps{
  margin-left: 8rem;
  margin-top: 3rem;
  color: white;
}

.LinkAps{
  margin-left: 8rem;
  margin-top: 3rem;
  color: white;

}

.No{
  position: relative;
  margin-left: 43px;
  top:170px;
}

.myhome{
  position: relative;
  margin-left: 140px;
  top:200px;

}

.myproject{
  position: relative;
  margin-left: 100px;
  top:200px;

}